
@using ACD_Urun_Takip.Models;
@model ListInformation
@{
    ViewBag.Title = "AddSalesView";
}
<script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/assets/plugins/jquery-confirm/js/jquery-confirm.js"></script>
<link href="~/assets/css/productTracking.css" rel="stylesheet" />
<link href="~/assets/plugins/boostrap-select/bootstrap-select.css" rel="stylesheet" />
<script src="~/assets/plugins/boostrap-select/bootstrap-select.js"></script>

<div class="modal fade" id="SalesModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalcontent">
            <div class="modal-header modalheader-edit">
                @if (Model.SalesInfo == null)
                {
                    <h4 class="modal-title modaltitle-left">Yeni Satış</h4>
                }
                else
                {
                    <h4 class="modal-title modaltitle-left">Satış Düzenle</h4>
                }
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Şirket Adı</label>
                            <select id="companyId" class="selectpicker show-tick show-menu-arrow sss" data-alanadi="Şirket Adı">
                                <option value="0">Seçiniz</option>
                                @foreach (var srk in Model.Companies)
                                {
                                    <option value="@srk.CompanyId">@srk.CompanyName</option>
                                }
                            </select>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Program Adı</label>
                            <select id="programId" class="selectpicker show-tick show-menu-arrow sss" data-alanadi="Program Adı">
                                <option value="0">Seçiniz</option>
                                @foreach (var prg in Model.ProgramInfos)
                                {
                                    <option value="@prg.ProgramId">@prg.ProgramName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Modül Adı</label>
                            <select id="module" class="selectpicker show-tick show-menu-arrow sss" data-alanadi="Modul Adı" data-none-selected-text="Seçiniz">
                                <option value="0">Seçiniz</option>
                                @if (Model.Modules != null)
                                {
                                    foreach (var mdl in Model.Modules)
                                    {
                                        <option value="@mdl.ModuleId">@mdl.ModuleName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Donanım Adı</label>
                            <select id="hardwareId" class="selectpicker show-tick show-menu-arrow sss" data-alanadi="Donanım Adı">
                                <option value="0">Seçiniz</option>
                                @foreach (var dn in Model.Hardwares)
                                {
                                    <option value="@dn.HardwareId">@dn.HardwareName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Donanım Miktar</label>
                            <input class="form-control form-control-sm jquery" id="hardwareQuantity" placeholder="Donanım Miktar..." data-alanadi="Donanım Miktar" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding:0rem;margin-bottom:-15px;">
                    <button type="button" class="btn bg-gradient-danger btn-sm btn-danger-width" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn bg-gradient-success btn-sm" id="btnRecord">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var model = @Html.Raw(Json.Encode(Model.SalesInfo));
    if (model != null) {
            $("#companyId").val(model.Company.CompanyId);
            $("#programId").val(model.Program.ProgramId);
            $("#hardwareId").val(model.Hardware.HardwareId);
            $("#module").val(model.Module.ModuleId);
            $("#hardwareQuantity").val(model.HardwareQty);
    }
    console.log("aaa");
    $("#programId").change(function () {
        if (programId.value != 0) {
            $.ajax({
                url: '@Url.Action("Modull", "Licence")',
                type: 'POST',
                data: { Program: programId.value },
                success: function (data) {
                    var length = data.length;
                    $("#module option").remove();
                    $("#module").append($('<option>', {
                        text: "Seçiniz",
                        value: 0,
                    }));
                    for (var i = 0; i < length; i++) {
                        $("#module").append($('<option>', {
                            text: data[i].ModuleName,
                            value: data[i].ModuleId,
                        }));
                        $("#module").selectpicker('refresh');
                    }
                },
                error: function (sonuc) {
                    alert(sonuc)
                }
            });
        }
        else {
            $("#module option").remove();
            $("#module").append($('<option>', {
                text: "Seçiniz",
                value: 0,
            }));
        }
    });
</script>
<script>
    $(document).ready(function () {
        console.log("gel");
        $("#companyId").selectpicker();
        $("#programId").selectpicker();
        $("#hardwareId").selectpicker();
        $("#module").selectpicker();
        $("#btnRecord").click(function () {
            if ($("#companyId").val() == 0) {
                toastr.error("Şirket Adı boş bırakılamaz!");
                $("#companyId").parent().addClass('RedBorder');
                borderTime($("#companyId").parent());
            }
            else if ($("#programId").val() == 0) {
                toastr.error("Program Adı boş bırakılamaz");
                $("#programId").parent().addClass('RedBorder');
                borderTime($("#programId").parent());
            }
            else {
                    var Hardware = new Object()
                    Hardware.HardwareId = hardwareId.value;

                    var Company = new Object();
                    Company.CompanyId = companyId.value;

                    var Program = new Object();
                    Program.ProgramId = programId.value;

                    var Module = new Object()
                    Module.ModuleId = module.value;

                    var sales = {
                        Company: Company,
                        Program: Program,
                        Module: Module,
                        Hardware: Hardware,
                        HardwareQty: hardwareQuantity.value
                    };
                if (model == null) {
                    $.ajax({
                        url: '@Url.Action("AddSales","Sales")',
                        type: 'POST',
                        data: { newSales: sales },
                        success: function (sonuc) {
                            toastr.success(sonuc);
                            $("#SalesModal").modal('hide');
                            RefreshTable();
                        },
                        error: function (sonuc) {
                            toastr.error(sonuc);
                        }
                    });
                }
                else {
                    var update = {
                        SalesId: model.SalesId,
                        Company: Company,
                        Program: Program,
                        Module: Module,
                        Hardware: Hardware,
                        HardwareQty: hardwareQuantity.value
                    };
                    $.ajax({
                        url: '@Url.Action("UpdateSales","Sales")',
                        type: 'POST',
                        data: { update: update },
                        success: function (sonuc) {
                            toastr.success(sonuc);
                            $("#SalesModal").modal('hide');
                            RefreshTable();
                        },
                        error: function (sonuc) {
                            alert(sonuc);
                        }
                    });
                }
            }
        });
    });
</script>