
@using ACD_Urun_Takip.Models;
@model DocumentInfo

@{
    ViewBag.Title = "AddUpdateDocument";
    List<CompanyInformation> SirketList = (List<CompanyInformation>)TempData["SirketList"];
}
<script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/assets/plugins/jquery-confirm/js/jquery-confirm.js"></script>



<div class="modal fade" id="createCompanyModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius:24px;">
            <div class="modal-header" style="background-color: #337ab7;border-top-right-radius: 23px;border-top-left-radius: 23px;color: white;padding: 0.5rem">
                @if (Model.DocumentName == null)
                {
                    <h4 class="modal-title">Yeni Döküman</h4>
                }
                else
                {
                    <h4 class="modal-title">Döküman Düzenle</h4>
                }
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @if (Model.DocumentName != null)
                            {
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Dosya Yolu</label><i class="far fa-copy hover" onclick="copyToClipboard()" style="margin-left:10px"></i>
                                        <input class="form-control form-control-sm suggest" value="@Model.DocumentPath" id="copytext" disabled />
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Döküman Adı</label>
                                        <input class="form-control form-control-sm suggest" value="@Model.DocumentName" disabled />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Şirket Adı</label>
                                        <input class="form-control form-control-sm suggest" value="@Model.Company.SirketAdi" disabled />
                                    </div>
                                </div>
                                <form method="post" id="frm">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                  <input type="file" name="uploadFiles" style="margin-bottom:20px;" />
                                                </div>
                                            </div>
                                            <input class="form-control form-control-sm suggest" name="date" value="@DateTime.Now" style="display:none" />
                                            <input value="@Model.DocumentId" name="id" style="display:none" />
                                            <div class="col-md-12">
                                                <div class="form-group" style="margin-top: -29px;">
                                                    <label>Şirket Adı</label><br />
                                                    <select id="SelectCompany" name="companyId" style="border-radius:5px;width:100%;height:30px;">
                                                        @foreach (var srk in SirketList)
                                                        {

                                                            <option value="@srk.SirketID">@srk.SirketAdi</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group" style="margin-top: -7px;">
                                                    <label>Version</label>
                                                    <input class="form-control form-control-sm suggest" name="version" value="@Model.Version" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="margin-bottom: -27px;padding: 0.5rem;">
                                        <button type="button" class="btn bg-gradient-danger btn-sm" data-dismiss="modal">Kapat</button>
                                        <button type="submit" class="btn bg-gradient-success btn-sm" id="btn">Kaydet</button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form method="post" action="" id="frmm"> 
                                   <div class="col-md-12">
                                       <div class="form-group">
                                          <input  type="file"  name="uploadingFiles" />
                                       </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Şirket Adı</label><br />
                                            <select id="SelectCompany" name="id" style="border-radius:5px;width:100%;height:30px;">
                                                <option value="01">Seçiniz</option>
                                                @foreach (var srk in SirketList)
                                                {

                                                    <option value="@srk.SirketID">@srk.SirketAdi</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input class="form-control form-control-sm suggest" name="Tarih" value="@DateTime.Now" style="display:none" />
        
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Version</label>
                                            <input class="form-control form-control-sm suggest" id="version" Name="version" placeholder="Version..." />
                                        </div>
                                    </div>

                                    <div class="modal-footer" style="margin-bottom: -24px;padding:0rem">
                                        <button type="button" class="btn bg-gradient-danger btn-sm" data-dismiss="modal">Kapat</button>
                                        <button type="submit" class="btn bg-gradient-success btn-sm" id="btn">Kaydet</button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard() {
        var copyText = document.getElementById("copytext");
        copyText.select();
        copyTePNG

   IHDR         Y   sRGB    DeXIfMM *    i                         ֠            :f  )`IDATx}	|EU"C qUT +!EQ	I!?!*8DuU%	 "rϋ( (H2Lwzғɤ{2	'W^zWt1p	!YEKN{@I}>Ϭ:db!>
&UV9f,?ۆO09`
V3hygˬ܉H+)xW0.Vv	Ng#f-^egF3_+xU~[["8}<mO 'BsKV1n6!.X.LK*>)XR$"%#LpNN)jRpRqWh`..P@]`]\Y41}fern檸qщ1QI(
˟	0VtA]W̃Y㩌/Y4ý/9K(,Cc,u_yfZr/(11A[s#)e_01!;L7c>Th`EU9r	ҟ'$&s-(}s̴ķ<e)LhGs\Hpgt֬D>pElG\6CgϾJK*0;gh	c>.B٩oXa{ēFl^TzB|yTS:O5s
J.v׊BSpǹ2<~XJxtm40V;jY>^+^[e 1\Bvܗ:[k)VfzG_^Aw\BKE7!.kLFw$.nsOZqlFZ)=ꎧ.S^/EZ5ۭ({JP*d.em`ߘ2IL>#}ĝF
MUĻ)/,nYGTo/,~|NVWr,;_Seȑ\%u!"&[|qYf'a[X
Z{!9MNz kJ<J(BCdl֦d~o8@LkcMOE*gYߣ(N*Sǡ寫 ޯX)
0J0*(TIao+.LQB.QY㒷g/TQ|B²:ASmÂ֣:.Iz<ظ md@	Ryj	U}R}Cx+C`}613.Yֵ֫Zy9@}-s9pXk1fH9|t/`L31!	&J'IBQ#ZbWsk/XE+;VUNp-r1)2"<pAx/(1m6i0 GRd0 tXA)+k|XŠ?\<TqU\ \	WyJO|%)űc{d޸g&o4T*cpۡsJe^)xa}zƌv@ro J	WFJ7FRk4Y0LJrFz2J-XH Ǚ3h1%0a\.}E
Σ|)砿d.OHK7.*
1T.pm/2:r]1`|yߕk3n⡮X'&m71&N͕kI~Ti]MTƗP<.xzָRzOn![+F5Q{֢?D_LiKyOVPʴ{0Қ(Y1;j Nse|6$Lai6#ZSނǐܓ;%fR"x(%&=/J'sԄ6%/EV,UZzؿ clBg=tأ:ׄZ,~/@k `pCP`cBT63%bԾ*R$%_z(B6yTxиL8_|/[V3X|/,<uH3{q^+keίWw7`Ża@8-9eS!/Av9iв(aNO0.Q:BI#3ӓjӛtJ0XÌJrwI걪{)ۭZF+l ޳:'~DhYH3
^nшz-G(ZSZ.
w#z +,w"xCp}|󋱗4r7貘2>OKys7M`ԥUgr2 6t7LpD<KC`.g4aꚿh嚫?!DΧ(MJkfp<>	RiiD%"x
7¼GGamPӍw!TBӰ h$c<&|仇V7z|,.=,ԧeuf3E9E5P(|	m/F'a57R_DB1yߐyEe`X't.K;0zAfp%͐>
aAs=axFPG&}	e	